.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10vh 0;
}

.container-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    align-self: center;
    margin-top: 48px;
}

@media only screen and (max-width: 1200px) {
    .container-row {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 32px;
        -moz-column-gap: 32px;
        column-gap: 32px;
        align-self: center;
        margin-top: 48px;
    }
}

.item {
    flex: 1 1;
    background-color: #fff;
    padding: 32px 42px;
    display: flex;
    flex-direction: column;
    min-width: 220px;
    border-color: #151515;
    border-width: 2px 2px 6px !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 20px;
}

@font-face {
    font-family: TitanOne;
    src: url(../font/TitanOne-Regular.ttf);
}

@font-face {
    font-family: HankenGrotesk;
    src: url(../font/HankenGrotesk-Bold.ttf);
}

.item-up {
    color: #151515;
    text-align: center;
    font-size: 50px;
    font-family: TitanOne;
    font-weight: bold;
    line-height: 60px;
}

.item-down {
    color: #151515;
    text-align: center;
    font-size: 20px;
    font-family: HankenGrotesk;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 12px;
}